*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    
}
header {
    margin:30px;
    padding: 20px;
    background-color: rgb(243, 248, 248);
    display: grid;
    grid-template-columns: 3;

}
.nav-main1{
    border:2px solid gold;
    padding:20px;
    /* display: grid;
    grid-template-columns: 3; */
}
#nav-main1a{
    border: 2px solid green;
    padding:50px;
    
    
}
.nav-main1 #line1 h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: small;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 20px;
    font-size: medium;
    text-shadow: 10px;
    letter-spacing:5px;
    
    
    
}
#line2 h1{
    text-align: center;
    font-weight: bolder;
    text-decoration: solid;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
#line3{
    
}
#line3 #nav-inside1{
    border:2px solid magenta;
    padding: 10px;
}
.nav-inside1 ul{
    display: flex;
    justify-content: space-between;
    border:2px solid rgb(24, 223, 44);
    padding:5px;
}
li{
    padding:10px;
    list-style-type: none;
    border:2px solid black;
    font-family: 'Courier New', Courier, monospace;
}

main{
    /* display: grid;
    grid-template-columns: 3;
    padding:30px 30px; */
}
#heading{
    margin:20px;
}
#heading h1{
    position: absolute;
    border: 2px solid black;
    margin-top:-25px;
    padding:10px 20px;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    font-size:30px;
    
}
#heading img{
    border:2px solid rgb(0, 0, 0);
    

}
#bottomtext h1{
    font-weight: bold;
    position:relative;
    height: inherit;
    width: inherit;
    border-top: none;
    border-bottom:none;
    margin-bottom:30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top:-30px;;
   
    
}
#bottomtext p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    border-top: none;
    border:2px solid black;
    padding: 50px;
    border-top:none;
    margin-top: -30px;
    
    
}
.secondheading{
    border:2px solid rgb(219, 15, 234);
    margin: 20px;
    
}
#main2{
    border:2px solid red;
    display: flex;
    justify-content: space-evenly;
    height:100px;
    border: 2px solid rgb(0, 4, 4);
    margin: 20px;
}
#main2 #secondheading-a{
    border:2px solid rosybrown;
    padding: 20px;

}
#main2 #secondheading-a h1{
    text-transform: uppercase;
    font-size: x-large;
    padding: 10px;
    border:2px solid magenta

}
#form1{
    border:2px solid blue;
    display: grid;
    grid-template-columns: 3;
    border:2px solid chartreuse;
    grid-row-gap:5px;
    
}
#form1 label{
    text-transform:capitalize ;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#form1 .inputfield{
    text-transform:capitalize ;
    font-weight: 100;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:2px solid blueviolet;
    display: flex;
    justify-content: space-between; 
    

}
.inputfield .button1 button{
    border:2px solid rgb(248, 245, 243);
    color:rgb(253, 255, 255);
    background-color: rgb(166, 90, 237);
    padding:10px 20px;
}
.checkbox1 {
    border:2px solid green;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.container3{
    border: 2px solid black;
    margin: 20px;
    padding:30px;

}
.container3 .container3a{
    border:2px solid green;
}
.container3a .heading3{
    font-weight: lighter;
    font-weight: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.container3a .leftboxes{
    height:100px;
    background-color: blue;
}
.container3 .conatainer3a .heading4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}